@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
body {
  background-color: #092635;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
